language: go
sudo: true
dist: trusty

install:
  - sudo apt-get --yes install snapd
  - sudo snap install hugo

script:
  - /snap/bin/hugo

#deploy:
#  provider: pages
#  skip-cleanup: true
#  github-token: $GITHUB_TOKEN
#  keep-history: true
#  repo: devopsweeknews/devopsweeknews.github.io
#  local-dir: public
#  target-branch: master
#  on:
#    branch: master
