<div id="revue-embed">
  <h2>Subscribe now!</h2>
  <form action="https://www.getrevue.co/profile/devops-week-news/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
  <div class="revue-form-group">
    
    <input class="revue-form-field" placeholder="Your e-mail address..." autocapitalize="off" autocorrect="off" type="email" name="member[email]" id="member_email">
    <p>
    At any time, you can unsubscribe to this newsletter by clicking on the link in the footer of any email you receive from us.
    </p>
  </div>
    <input type="submit" value="Subscribe" name="member[subscribe]" id="member_submit" class="button">
  </form>
</div>